.form-create-journal-note {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.form-create-journal-note label {
    margin-bottom: 0;
    font-weight: normal;
}

.actual-date {
    margin-top: 20px;
}

input[type="submit"].btn-save-draft{
    background-color: #F4B516;
}

#ui-datepicker-div {
    display: none;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #9C1A5E;
    border-radius: 5px;
    z-index: 12 !important;
}

.ui-datepicker-next{
    float: right;
}
#ui-datepicker-div td{
    padding: 5px;
}

.journalNotatButtons {
    display: flex;
    justify-content: space-between;
}


.add-journal-note-button, .btn-update-date, .change-journal-note-button {
    border: 1px solid #9C1A5E;
    background-color: #fff;
    color: #9C1A5E;
    padding: 5px 10px 5px 10px;
}

    .add-journal-note-button:hover, .btn-update-date:hover, .change-journal-note-button:hover {
        background-color: #9C1A5E;
        color: #fff;
    }

.change-date-link {
    border: none;
    outline: none;
    color: #9C1A5E;
}

.change-date-div {
    margin-top: 15px;
}

.change-date-link::placeholder {
    color: #9C1A5E;
}

.change-date-link:hover {
    cursor: pointer;
}
#change-date-label {
    padding-right: 5px;
}

.change-time-div{
    display: flex;
    margin-top: 10px;
    align-content: center;
}


.cancel-journal-note-button {
    background-color: #fff;
    text-decoration: underline;
    padding: 0;
    border: none;
}

.form-create-journal-note h3 {
    margin: 25px 0 25px 0;
}

.ui-timepicker-container {
    z-index: 12 !important;
    width: 80px !important;
}

.timepicker {
    border: 1px solid #d7e0e2;
    margin: 0 5px 0 5px;
    color: #9C1A5E;
    width: 50px;
    padding: 0 5px 0 5px;
}

.ui-timepicker-standard a{
    color: #9C1A5E;
    font-size: 12px;
    padding: 5px;
    width: 50px;
}

.ui-timepicker-standard a:hover {
    background-color: #ededed;
    border:none;
    color: #9C1A5E;
}
