:root {
    --header-color: var(--main-color);
}

.containerChildren {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 60px 0px 60px;
}

#myChildrenTabsBox {
    margin-right:60px;
    width: 900px;
}

.tag {
    width: fit-content;
    padding: 0px 5px 0px 5px;
}

.pendingActivitiesBox {
    margin-top: 16px;
}

.leftContainer {
    max-width: 230px;
}

.childrenHeader {
    background: var(--header-color);
    color: #fff;
    font-weight: lighter;
    margin-bottom: 20px;
}

.headline {
    margin-top: 42px !important;
    margin-bottom: 20px !important;
}

.lineHeightStyling {
    line-height : 2.5em;
}
.marginBtm30 {
    margin-bottom : 30px;
}

.maxWidth95 {
    max-width: 95px;
}