    .nav-pills {
        display: flex;
        justify-content: center;
    }

    .nav-pills > li.active > a {
        border-bottom: 2px solid #4a4a4a;
        color: #4a4a4a;
        background-color: #fff;
    }

    .nav-pills > li > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        border-bottom: 2px solid #4a4a4a;
        color: #4a4a4a;
        background-color: #fff;
    }

    .nav > li {
        padding: 0 15px;
    }

    .nav > li > a {
        color: #4A4A4A;
        font-size: 20px;
        border-radius: unset;
        padding: 0;
    }

   .nav > li:nth-child(2), .nav > li:nth-child(3) {
        border-left: 2px solid #4a4a4a;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: white;
    }

    .nav li + li:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 0;
    }

    .nav-pills {
        padding: 15px 30px;
    }

    .wholeActionsPage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px 60px 0px 60px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        border-top: none;
    }


