:root {
    --icons-color: var(--button-color);
    --background-color: var(--partial-views-background-color);
    --button-background-color: var(--partial-views-button-background-color);
    --part-button-color: var(--button-color);
}

/*
:root{
    --icons-color: #9C1A5E;
}  
*/


/* Stamdata.cshtml*/

.expander {
    cursor: pointer;
    transition: 0.4s;
}

.information {
    display: none;
    background-color: var(--background-color);
}

.stamdata {
    background-color: var(--background-color);
    height: auto;
    padding: 20px;
    width: 230px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.pstamdata {
    margin-bottom: 0px;
}

.h5stamdata {
    margin-top: 10px;
}

.glyphiconStamdata {
    margin-right: 5px;
}

.headline-stamdata {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.expand-text {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--icons-color);
}

.glyphicon-plus, .glyphicon-minus {
    color: var(--icons-color);
}

/* PendingActivities */
.pendingActivitiesTable {
    border: solid 1px #EFEFEF;
    width: 230px;
}

    .pendingActivitiesTableHeader {
        background: var(--main-color);
        color: #fff;
        font-weight: lighter;
    }

    .pendingActivitiesTableBody {
        display: block;
        overflow: auto;
        max-height: 184px;
    }

        .pendingActivitiesTableBody td:last-child {
            width: 100%;
        }

        .pendingActivitiesTableBody td {
            overflow: hidden;
        }

    /* Tooltip container */
    .tooltipTip {
        display: inline;
    }

    .tooltipTip-wrapper {
        width: 25%;
        position: absolute;
        visibility: hidden;
        margin: 40px 20px;
    }

    .tooltipTip:hover .tooltipTip-wrapper {
        visibility: visible;
        opacity: 1;
    }

.tooltipTiptext {
    display: block;
    position: absolute;
    bottom: 125%;
    padding: 10px;
    color: #4a4a4a;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: var(--background-color);
}

    .tooltipTiptext::after {
        content: "";
        position: absolute;
        top: 43%;
        left: 0%;
        margin-left: -10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent var(--background-color) transparent transparent;
    }

/* OBSBox*/

.obsbox {
    background-color: var(--background-color);
    height: auto;
    width: 230px;
    padding: 10px;
    text-align: right;
    margin-top: 15px;
}

.obsHeader {
    margin: 0 0 0 -5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .obsHeader h3 {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .obsHeader a {
        margin-bottom: 2px;
        cursor: pointer;
    }

        .obsHeader a:hover {
            margin-bottom: 2px;
            text-decoration: none;
        }

.obsTextArea {
    margin: 10px 0 0 0;
    width: 100%;
    height: 120px;
    resize: none;
    text-align: left;
    display: block;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #b6b6b6;
}

    .obsTextArea:disabled {
        background-color: var(--background-color);
    }

    .obsTextArea:focus {
        outline: none;
    }

.obsSaveButton, .obsCancelButton {
    border: 1px solid #EFEFEF;
    background-color: transparent;
    color: var(--icons-color);
    padding: 2px 8px;
}

button:disabled {
    border-color: lightgray;
    color: lightgray;
}

    button:disabled:hover {
        color: darkgray;
        border-color: lightgrey;
        background-color: lightgray;
    }

.obsSaveButton:hover, .obsCancelButton:hover {
    color: #fff;
    background: var(--icons-color);
}

.textCount {
    float: left;
}

/* AddJournalNote */


.glyphicon {
    margin-right: 5px;
}

.add-journal-note-button {
}

.add-journal-note {
    position: fixed;
    top: 20%;
    right: 0;
    background-color: white;
    border: 1px solid black;
    width: 11%;
    margin-left: 5px;
    padding: 10px;
    z-index: 5;
    cursor: pointer;
}

    .add-journal-note:hover {
        background-color: var(--button-on-hover);
    }

.headline-add-journal-note {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: value 1s
}

/* Tasks */
.tasksTable a {
    color: #4a4a4a;
    cursor: default;
}

    .tasksTable a:hover {
        color: #4a4a4a;
        text-decoration: none;
        cursor: default;
    }

.info-icon {
    padding: 0px 0px 0px 8px;
}

.activitiesBox {
    padding-top: 10px;
}

.scrollTable1 {
    max-height: 45vh;
    overflow-x: auto;
    text-align: justify;
}

.scrollTable2 {
    max-height: 25vh;
    overflow-x: auto;
    text-align: justify;
}

#collapse-icon {
    cursor: pointer;
}

.hoverInfo {
    position: relative;
    display: inline-block;
}

    .hoverInfo .hoverInfoText {
        visibility: hidden;
        width: 120px;
        font-size: 14px;
        background-color: var(--background-color);
        color: #4a4a4a;
        padding: 10px;
        text-align: start;
        border-radius: 2px;
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 140%;
    }

        .hoverInfo .hoverInfoText::after {
            content: "";
            position: absolute;
            top: 25%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #EFEFEF transparent transparent;
        }

    .hoverInfo:hover .hoverInfoText {
        visibility: visible;
    }


.executeModalButtons button {
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    margin: 0 5px 0 5px;
    width: 80px;
}

.executeModalButtons {
    display: flex;
    justify-content: center;
    border: none;
    padding: 0 15px 15px 15px;
}

#executeTaskModal .modal-content {
    width: 40vw;
    max-width: 400px;
    min-width: 300px;
    border-radius: 4px;
}

#executeTaskModal .modal-body {
    padding: 20px 15px 5px 15px;
    text-align: center;
}

    #executeTaskModal .modal-body > p {
        font-size: 16px;
        color: #4a4a4a;
    }

.cancelButton {
    background-color: #E04141;
}

.instancesHeadingTop {
    margin-top: 0px !important;
}


/* AddButton */
.add-box {
    background-color: var(--button-background-color);
    padding: 5px 10px 5px 10px;
    height: 50px;
    width: 230px;
    margin-top: 15px;
    cursor: pointer;
}

.add-text {
    color: #4A4A4A;
    font-size: 18px;
    padding: 10px 5px 5px 10px;
}

.add-container {
    height: 50px;
    width: 230px;
    cursor: pointer;
}

.add-icon {
    width: 40px;
    height: 40px;
    padding: 5px;

}

svg {
    fill: var(--part-button-color);
}

.recommendation1Col,
.recommendation2Col,
.recommendation3Col {
    display: none;
    border-right: 1px solid #ddd;
}

.recommendation3Col:last-child {
    border: none;
}

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #818181;
    position: relative;
    font-size: 20px;
    background-color: rgb(129,129, 129, 0.2);
}