<link rel="stylesheet" href="~/Content/ChildInstance.css" type="text/css" />

@{
    ViewBag.Title = "AdjunktInstance"; //This will be overwritten when the page is fully loaded
}


<div class="wholeActionsPage">
    <div class="tabsBox col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div>Name</div>
            <input />
            <div>E-mail</div>
            <input type="email" />
            <button>
                <span>Next</span>
            </button>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
    </div>
</div><!-- Row Div End -->