
@{
    ViewBag.Title = "Child";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here should the skeleton of the page be</h2>
<div class="col-lg-2 add-process-box">
    <img src="~/Content/Images/addicon.svg" class="add-icon"/>
    <span class="add-process-text">Tilføj indsats</span>
</div>

