
@{
    ViewBag.Title = "Child";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here should the skeleton of the page be</h2>
@Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj process" } })
@Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj dokument" } })
@Html.Partial("~/Views/PartialViews/AddButton.cshtml", new ViewDataDictionary { { "add-text", "Tilføj journalnotat" } })

