
@{
    ViewBag.Title = "CreateJurnalNote";
}
<link type="text/css" rel="stylesheet" href="~/Content/journalnote.css"/>
<h2>Create Journal Note</h2>
<form class="form-create-journal-note">
    <label>Title</label>
    <input type="text" name="journal-title" />
    <label name="data"></label>
    <a>Edit date</a>
    <lable>Note</lable>
    <textarea></textarea>
    <input type="submit" value="Create" />
    <input type="submit" value="Save Draf" />
</form>
