<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WaitTime" value="30000"/>
    <add key="OCMUrl" value="http://localhost/"/>
    <add key="LogInTxt" value="true"/>
    <add key="EventViewerSource" value="DCRAdvanceTimeSource"/>
    <add key="EventViewerLog" value="DCRAdvanceTimeLog"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>