<h4 class="instancesHeading fold-down-headline"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span><span data-locale data-apply="text" data-key="Pending"></span><span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText"><span data-locale data-apply="text" data-key="PendingOnOthers"></span></span></span></h4>
<div class="scrollTable2">
    <table class="table tasksTable table-striped hiddenTaskTable">
        <thead>
            <tr class="trStyleClass">
                <th width="9.25%"></th>
                <th width="27.27%"><span data-locale data-apply="text" data-key="Title"></span></th>
                <th width="27.27%"><span data-locale data-apply="text" data-key="DueDate"></span></th>
                <th width=""><span data-locale data-apply="text" data-key="Responsible"></span></th>
            </tr>
        </thead>
        <tbody class="others-tasks"></tbody>
    </table>
</div>

<h4 class="instancesHeading fold-down-headline"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span>Afsluttede aktiviteter<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Aktiviteter du har udført.</span></span></h4>
<div class="scrollTable2">
    <table class="table tasksTable table-striped hiddenTaskTable">
        <thead>
            <tr class="trStyleClass">
                <th width="9.25%"></th>
                <th width="27.27%"><span data-locale data-apply="text" data-key="Title"></span></th>
                <th width="27.27%"><span data-locale data-apply="text" data-key="Responsible"></span></th>
                <th width=""><span data-locale data-apply="text">Dato</span></th>
            </tr>
        </thead>
        <tbody class="done-tasks"></tbody>
    </table>
</div>