@{
    var dateTo = DateTime.Now.ToString("dd/MM/yyyy");
    var dateFrom = DateTime.Now.ToString("dd/MM/yyyy");
}

<!--Modal For Commenting -->
<div class="modal fade" id="addNewTestCase" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title TasksWNoteheading">
                    <span data-locale data-apply="text" id="testCaseHeader" data-key="CreateNewTestCase">Create New Test
                        Case</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="testCaseLabel"><span data-locale data-apply="text" data-key="Title"></span></label>
                        <input type="text" class="form-control" id="testCaseLabel" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="testCaseDesc"><span data-locale data-apply="text"
                                data-key="Description"></span></label>
                        <input type="text" class="form-control" id="testCaseDesc" autofocus>
                    </div>
                    <div class="form-group">
                        <div class="change-date-div">
                            <label id="change-date-label">Valid From </label>
                            <input type="text" class="ui-datepicker change-date-link" value="@dateFrom"
                                placeholder="@dateFrom" id="datepickerFrom" autocomplete="off" />
                        </div>
                        <div class="change-date-div">
                            <label id="change-date-label">Valid To </label>
                            <input type="text" class="ui-datepicker change-date-link" value="@dateTo"
                                placeholder="@dateTo" id="datepickerTo" autocomplete="off" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="graphIdDropdown lineHeightStyling" data-locale data-apply="text"
                            data-key="GraphId">Graph Id</label>
                        <select class="form-control" id="graphIdDropdown">
                            <option>Select Graph</option>
                        </select>
                    </div>
                    <div class="form-group" id="rolesContent">
                        <label for="rolesDropdown lineHeightStyling" data-locale data-apply="text"
                            data-key="Roles_played_by_user">Roles PLayed by User</label>
                        <select class="form-control" id="rolesDropdown" size="1" multiple="multiple">
                            <options></options>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="timeDelay">Delay </label>
                        <input type="number" placeholder="In Seconds" value="0" min="0" class="form-control"
                            id="timeDelay" autofocus>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="addTestCase" data-id="0" data-key="Add" class="instanceAdd"><span data-locale
                        data-apply="text" id="addTestCaseSpan" data-key="Add"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Commenting -->
