<div class="activitiesBox">
    <h4 class="instancesHeading instancesHeadingTop">
        <span data-locale data-apply="text" data-key="AIRobot">AIRobot</span><span class="hoverInfo"><img src='../Content/Images/Standard/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText"><span data-locale data-apply="text" data-key="PendingActivities"></span></span></span>
    </h4>
    <div class="row">
        <div class="col-lg-4 recommendation1Col">
            <h4 class="instancesHeading" id="recommendationHead1">Recommendation 1 </h4>
            <div>
                <table class="table tasksTable table-striped" id="recommendation1Table">
                    <thead>
                        <tr id="trTasksWarning" style="display:none"><td colspan="4"><font color="red">Advarsel - Opgavelisten er gammel. Tryk F5 for at opfriske listen og se de nyeste data</font></td></tr>
                        <tr class="trStyleClass">
                            @* <th width="auto"><span data-locale data-apply="text" data-key="Label">Label Value</span></th> *@
                            <th width="auto"><span data-locale data-apply="text"></span></th>
                            <th width="auto"><span data-locale data-apply="text"></span></th>
                        </tr>
                        @* <tr class="trStyleClass" id="singleInstanceFilters" style="display:none;">
                        <th width="15%"></th>
                        <th width="9%"></th>
                    </tr> *@
                    </thead>
                    <tbody id="recommendation1"></tbody>
                </table>
            </div>

        </div>
        <div class="col-lg-4 recommendation2Col"><h4 class="instancesHeading" data-key="Recommendation" id="recommendationHead2"> Recommendation 2 </h4>
            <div>
                <table class="table tasksTable table-striped" id="recommendation2Table">
                    <thead>
                        <tr id="trTasksWarning" style="display:none"><td colspan="4"><font color="red">Advarsel - Opgavelisten er gammel. Tryk F5 for at opfriske listen og se de nyeste data</font></td></tr>
                        <tr class="trStyleClass">
                            @* <th width="auto"><span data-locale data-apply="text" data-key="Label">Label Value</span></th> *@
                            <th width="auto"><span data-locale data-apply="text"></span></th>
                            <th width="auto"><span data-locale data-apply="text"></span></th>
                        </tr>
                        @* <tr class="trStyleClass" id="singleInstanceFilters" style="display:none;">
                            <th width="15%"></th>
                            <th width="9%"></th>
                        </tr> *@
                    </thead>
                    <tbody id="recommendation2"></tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 recommendation3Col"><h4 class="instancesHeading" id="recommendationHead3">Recommendation 3 </h4>
            <div >
                <table class="table tasksTable table-striped" id="recommendation3Table">
                    <thead>
                        <tr id="trTasksWarning" style="display:none"><td colspan="4"><font color="red">Advarsel - Opgavelisten er gammel. Tryk F5 for at opfriske listen og se de nyeste data</font></td></tr>
                        <tr class="trStyleClass">
                            @* <th width="auto"><span data-locale data-apply="text" data-key="Label">Label Value</span></th> *@
                            <th width="auto"><span data-locale data-apply="text"></span></th>
                            <th width="auto"><span data-locale data-apply="text"></span></th>
                        </tr>
                        @* <tr class="trStyleClass" id="singleInstanceFilters" style="display:none;">
                            <th width="15%"></th>
                            <th width="9%"></th>
                        </tr> *@
                    </thead>
                    <tbody id="recommendation3"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
