<div id="documents" style="display:none">
    <!-- It would make more sense that this was enabled by default, and then disabled when it is needed rather than the other way around
         However, following the previous authors design, the following code can be used in the javascript file (Document.ready) for the page that has a Documents section:
         App.hideDocumentWebpart();
        -->
    <div class="row tableDataRow">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="instancesHeading">
                <span id="addNewDocumentText" data-locale data-apply="text" data-key="Documents">Documents</span> <button type="button" class="btn addNewInstance" id="addNewDocumentBtn">
                    <span><img src="~/Content/Images/addicon.png"></span>
                </button>
            </h4>
            <div class="" style="border:none">
                <table class="table tasksTable">
                    <thead>
                        <tr class="trStyleClass">
                            <th style="display:none"><span data-locale data-apply="text" data-key="DocumentId">Id</span></th>
                            <th width="2%"><span></span></th>
                            <th><span data-locale data-apply="text" data-key="Title">Title</span></th>
                            <th width="7%"><span data-locale data-apply="text" data-key="Action">Action</span></th>
                        </tr>
                    </thead>
                    <tbody id="files"></tbody>
                </table>
            </div>
        </div><!-- Cols Div End -->
    </div><!-- Row Div End -->
    <div class="addDocumentModal">
        @Html.Partial("~/Views/PartialViews/AddDocumentModal.cshtml")
    </div>

    <script src="~/Scripts/document.js"></script>
</div>
