﻿<div class="obsbox">
    <div class="obsHeader">
        <h3>OBS!</h3>
    </div>
    <a onclick="toggleEdit()" id="EditOBS" class="obsBoxEdit fa fa-edit"></a>
    <button id="obsCancelButton" class="obsCancelButton hide" onclick="cancelObs()">Annuller</button>
    <button id="obsSaveButton" class="obsSaveButton hide" onclick="saveObs()">Gem</button>
    <label id="textCount" class="textCount hide"></label>
    <textarea id="obsTextArea" class="obsTextArea" oninput="updateTextCount(this)" placeholder="Tilføj vigtig information..." disabled="true"></textarea>
</div>

<script type="text/javascript" src="~/Scripts/obsBox.js"></script>