<link rel="stylesheet" href="~/Content/PartialViews.css" type="text/css" />

<table class="table pendingActivitiesTable table-striped">
    <thead class="pendingActivitiesTableHeader">
        <tr>
            <th colspan="2"><span data-locale data-apply="text" data-key="PendingActivities"></span></th>
        </tr>
    </thead>
    <tbody class="pendingActivitiesTableBody"></tbody>
</table>

<script src="~/Scripts/PendingActivities.js"></script>