<link rel="stylesheet" href="~/Content/PartialViews.css" type="text/css" />

<table class="table pendingActivitiesTable table-striped">
    <thead class="pendingActivitiesTableHeader">
        <tr>
            <th colspan="2"><span data-locale data-apply="text" data-key="PendingActivities"></span></th>
        </tr>
    </thead>
    <tbody class="pendingActivitiesTableBody"></tbody>
</table>

<script>
    var childId;

    $(document).ready(function () {
        childId = (window.location.pathname.toLowerCase() == "/child") ? App.getParameterByName("id", window.location.href) : null;

        query = {
            "type": "SELECT",
            "entity": "PendingActivities('$(loggedInUserId)')",
            "resultSet": ["*"],
            "filters": new Array(),
            "order": []
        }

        if (childId != null) {
            var whereChildIdMatchesFilter = {
                "column": "ChildId",
                "operator": "equal",
                "value": childId,
                "valueType": "int",
                "logicalOperator": "and"
            };
            query.filters.push(whereChildIdMatchesFilter);
        }

        API.service('records', query)
            .done(function (response) {
                var result = JSON.parse(response);
                fillPendingActivitiesTable(result);
            })
            .fail(function (e) {
                App.showExceptionErrorMessage(e);
            });
    });

    function fillPendingActivitiesTable(result) {
        var list = "";
        if (result.length === 0) {
            list = "<tr class='trStyleClass'><td></td><td>" + translations.NoRecordFound + " </td></tr>";
        } else {
            for (i = 0; i < result.length; i++) {
                list += getPendingActivityHtml(result[i]);
            }
        }
        $(".pendingActivitiesTableBody").append(list);
    }

    function getPendingActivityHtml(item) {
        var instanceLink = "../AdjunktInstance?id=" + item.InstanceId;

        var returnHtml = "<tr class='trStyleClass'><td width='16px'><img src='../Content/Images/priorityicon.svg' height='16' width='16'/></td>";

        if (childId == null) {
            returnHtml += "<td><a class='tooltipTip' href='" + instanceLink + "'>" + item.EventTitle + "<span class='tooltipTip-wrapper'><span class='tooltipTiptext'>" + item.Name + "<br> " + item.InstanceTitle + "</span></span></a></td>";
        } else {
            returnHtml += "<td><a class='tooltipTip' href='" + instanceLink + "'>" + item.EventTitle + "<span class='tooltipTip-wrapper'><span class='tooltipTiptext'>" + item.InstanceTitle + "</span></span></a></td>";
        }
        return returnHtml;
    }
</script>