<!--Modal For Commenting -->
<div class="modal fade" id="sendInviteModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title TasksWNoteheading">
                    <span data-locale data-apply="text" data-key="SendInvite">Send Invite</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="userEmail"><span data-locale data-apply="text" data-key="Email"></span></label>
                        <input type="text" placeholder="Enter Email" class="form-control" id="userEmail" autofocus>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="sendInviteBtn" data-key="Send" class="btn btn-info"><span data-locale data-apply="text" data-key="Send">Send</span></button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Commenting -->

