<style>
    .expander {
        cursor: pointer;
        transition: 0.4s;
    }

    .information {
        display: none;
        background-color: #EFEFEF;
    }

    .stamdata {
        background-color: #EFEFEF;
        height: auto;
        padding: 20px;
        width: 230px;
        margin-top: 15px;
    }

    .glyphiconStamdata {
        margin-right: 5px;
    }

    .headline-stamdata {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .expand-text {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #9C1A5E;
    }

    .glyphicon-plus, .glyphicon-minus {
        color: #9C1A5E;
    }
</style>


<div class="stamdata">
    <h3 class="headline-stamdata">Stamdata</h3>
    <div class="childStamdata">
        <h5 class="sagsnr"><b>Sagsnummer</b></h5>
        <h5 class="name"><b>Navn</b></h5>
        <h5 class="address"><b>Adresse</b></h5>
        <h5 class="parentalrights"><b>Forældremyndighed</b></h5>
        <h5 class="school"><b>Skole</b></h5>
        <h5 class="age"><b>Alder</b></h5>
    </div>
    <div class="udvidet-stamdata">
        <div class="table-responsive information">
            <h3 class="headline-stamdata">Udvidet stamdata</h3>
            <div class="expandedStamdata"></div>
            

        </div>
        <h4 class="expander"><span class="glyphicon glyphiconStamdata glyphicon-plus"></span><span class="expand-text" data-locale data-apply="text">Se udvidet stamdata</span></h4>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/stamdata.js"></script>

<script>
    $(document).on('click', '.expander', function () {
        var panel = $(this).prev('.information');
        var icon = $(this).find('.glyphicon');
        var text = $(this).find('.expand-text');
        if (panel.is(':visible')) {
            panel.slideUp(1000);
            icon.removeClass('glyphicon-minus');
            icon.addClass('glyphicon-plus');
            setTimeout(function () {
                text.text('Se udvidet stamdata');
            }, 1000);
        } else {
            panel.slideDown(1000);
            icon.removeClass('glyphicon-plus');
            icon.addClass('glyphicon-minus');
            setTimeout(function () {
                text.text('Se mindre');
            }, 1000);
        }
    });
</script>