<style>
    .info-icon {
        padding: 0px 0px 0px 8px;
    }

    .activitiesBox {
        width: 50vw;
        padding: 30px 0px 0px 0px;
    }

    .scrollTable1 {
        max-height: 45vh;
        overflow-x: auto;
        text-align: justify;
    }

    .scrollTable2 {
        max-height: 25vh;
        overflow-x: auto;
        text-align: justify;
    }

    #collapse-icon {
        cursor: pointer;
    }

    .hoverInfo {
        position: relative;
        display: inline-block;
    }

        .hoverInfo .hoverInfoText {
            visibility: hidden;
            width: 120px;
            font-size: 14px;
            background-color: #EFEFEF;
            color: #4a4a4a;
            padding: 10px;
            text-align: start;
            border-radius: 2px;
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 140%;
        }

            .hoverInfo .hoverInfoText::after {
                content: "";
                position: absolute;
                top: 25%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent #EFEFEF transparent transparent;
            }

        .hoverInfo:hover .hoverInfoText {
            visibility: visible;
        }

    .executeModalButtons button {
        color: white;
        border: none;
        padding: 5px;
        border-radius: 3px;
        margin: 0 5px 0 5px;
        width: 80px;
    }

    .executeModalButtons{
        display:flex;
        justify-content: center;
        border: none;
        padding: 0 15px 15px 15px;
    }

    #executeTaskModal .modal-content{
        width: 40vw;
        max-width: 400px;
        min-width: 300px;
        border-radius: 4px;
    }

    #executeTaskModal .modal-body{
        padding: 20px 15px 5px 15px;
        text-align: center;
    }

    #executeTaskModal .modal-body>p{
        font-size: 16px;
        color: #4a4a4a;
    }

    .executeButton {
        background-color: #63C647;
    }

    .cancelButton {
        background-color: #E04141;
    }



</style>

<div class="activitiesBox">
    <h4 class="instancesHeading">Mine aktiviteter<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Dine aktiviteter som venter på at blive udført.</span></span></h4>
    <div class="scrollTable1">
        <table class="table tasksTable table-striped" id="tasksTable">
            <thead>
                <tr class="trStyleClass">
                    <th width="15%"></th>
                    <th width=""><span data-locale data-apply="text" data-key="Title"></span></th>
                    <th width=""><span data-locale data-apply="text" data-key="DueDate"></span></th>
                    <th width="9%"><span data-locale data-apply="text" data-key="Action"></span></th>
                </tr>
                <!-- TODO -> Skal måske bruges senere når vi laver filtrering.
                    <tr class="trStyleClass" id="singleInstanceFilters" style="display:none;">
                    <th width="15%">
                        <select id="taskStatusDropDown">
                            <option data-locale data-apply="text" data-key="Default" selected value="0">Default</option>
                            <option data-locale data-apply="text" data-key="OnlyEnabled" value="1">Only Enabled</option>
                        </select>
                    </th>
                    <th width=""></th>
                    <th width=""></th>
                    <th width="">
                        <select id="responsibleDropdown">
                            <option data-locale data-apply="text" data-key="Default" selected value="0">Default</option>
                            <option data-locale data-apply="text" data-key="MyTasks" value="1">My Tasks</option>
                        </select>
                    </th>
                    <th width="9%"></th>
                </tr>-->
            </thead>
            <tbody id="tasks"></tbody>
        </table>
    </div>

    <h4 class="instancesHeading fold-down-headline"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span>Afventende<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Aktiviteter du afventer at andre udfører.</span></span></h4>
    <div class="scrollTable2">
        <table class="table tasksTable table-striped hiddenTaskTable">
            <thead>
                <tr class="trStyleClass">
                    <th width="15%"></th>
                    <th width=""><span data-locale data-apply="text" data-key="Title"></span></th>
                    <th width=""><span data-locale data-apply="text" data-key="Responsible"></span></th>
                    <th width="10%"><span data-locale data-apply="text" data-key="DueDate"></span></th>
                </tr>
            </thead>
        </table>
    </div>

    <h4 class="instancesHeading fold-down-headline"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span>Afsluttede aktiviteter<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Aktiviteter du har udført.</span></span></h4>
    <div class="scrollTable2">
        <table class="table tasksTable table-striped hiddenTaskTable">
            <thead>
                <tr class="trStyleClass">
                    <th width="15%"></th>
                    <th width=""><span data-locale data-apply="text" data-key="Title">Title</span></th>
                    <th width=""><span data-locale data-apply="text">Dato</span></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Modal popup for execute -->
<div class="modal fade" id="executeTaskModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Er du sikker på at du vil markere denne aktivitet som udført?</p>
            </div>
            <!-- modal Footer -->
            <div class="modal-footer executeModalButtons">
                <button type="button" id="executeTask" class="executeSubmit executeButton"><span data-locale data-apply="text">Udfør</span></button>
                <button type="button" data-dismiss="modal" class="cancelButton"><span>Annuller</span></button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('.hiddenTaskTable');
        table.hide();
    });

    $(document).on('click', '.fold-down-headline', function () {
        var table = $(this).next('.scrollTable2').find('table');
        var icon = $(this).find('.glyphicon');
        if (table.is(':visible')) {
            table.hide();
            icon.removeClass('glyphicon-chevron-down');
            icon.addClass('glyphicon-chevron-right');
        } else {
            table.show();
            icon.removeClass('glyphicon-chevron-right');
            icon.addClass('glyphicon-chevron-down');
        }
    });
</script>