<style>

    .tasksTable a {
        color: #4a4a4a;
        cursor: default;
    }

    .tasksTable a:hover {
        color: #4a4a4a;
        text-decoration: none;
        cursor:default;
    }

    .info-icon {
        padding: 0px 0px 0px 8px;
    }

    .activitiesBox {
        padding-top: 10px;
    }

    .scrollTable1 {
        max-height: 45vh;
        overflow-x: auto;
        text-align: justify;
    }   

    .scrollTable2 {
        max-height: 25vh;
        overflow-x: auto;
        text-align: justify;
    }

    #collapse-icon {
        cursor: pointer;
    }

    .hoverInfo {
        position: relative;
        display: inline-block;
    }

        .hoverInfo .hoverInfoText {
            visibility: hidden;
            width: 120px;
            font-size: 14px;
            background-color: #EFEFEF;
            color: #4a4a4a;
            padding: 10px;
            text-align: start;
            border-radius: 2px;
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 140%;
        }

            .hoverInfo .hoverInfoText::after {
                content: "";
                position: absolute;
                top: 25%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent #EFEFEF transparent transparent;
            }

        .hoverInfo:hover .hoverInfoText {
            visibility: visible;
        }

    .modal-dialog {
        position: fixed;
        top: 35vh;
        left: 35vw;
    }
    .executeModalButtons button {
        color: white;
        border: none;
        padding: 5px;
        border-radius: 3px;
        margin: 0 5px 0 5px;
        width: 80px;
    }

    .executeModalButtons {
        display: flex;
        justify-content: center;
        border: none;
        padding: 0 15px 15px 15px;
    }

    #executeTaskModal .modal-content {
        width: 40vw;
        max-width: 400px;
        min-width: 300px;
        border-radius: 4px;
    }

    #executeTaskModal .modal-body {
        padding: 20px 15px 5px 15px;
        text-align: center;
    }

        #executeTaskModal .modal-body > p {
            font-size: 16px;
            color: #4a4a4a;
        }

    .executeButton {
        background-color: #63C647;
    }

    .cancelButton {
        background-color: #E04141;
    }

    .instancesHeadingTop {
        margin-top: 0px !important;
    }
</style>

<div class="activitiesBox">
    <h4 class="instancesHeading instancesHeadingTop">Mine aktiviteter<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Dine aktiviteter som venter på at blive udført.</span></span></h4>
    <div class="scrollTable1">
        <table class="table tasksTable table-striped" id="tasksTable">
            <thead>
                <tr class="trStyleClass">
                    <th width="112px"></th>
                    <th width="660px"><span data-locale data-apply="text" data-key="Title"></span></th>
                    <th width="330px"><span data-locale data-apply="text" data-key="DueDate"></span></th>
                    <th width=""><span data-locale data-apply="text" data-key="Action"></span></th>
                </tr>
            </thead>
            <tbody id="tasks"></tbody>
        </table>
    </div>

    <h4 class="instancesHeading fold-down-headline"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span>Afventende<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Aktiviteter du afventer at andre udfører.</span></span></h4>
    <div class="scrollTable2">
        <table class="table tasksTable table-striped hiddenTaskTable">
            <thead>
                <tr class="trStyleClass">
                    <th width="112px"></th>
                    <th width="330px"><span data-locale data-apply="text" data-key="Title"></span></th>
                    <th width="330px"><span data-locale data-apply="text" data-key="Responsible"></span></th>
                    <th width=""><span data-locale data-apply="text" data-key="DueDate"></span></th>
                </tr>
            </thead>
            <tbody class="others-tasks"></tbody>
        </table>
    </div>

    <h4 class="instancesHeading fold-down-headline"><span id="collapse-icon" class="glyphicon glyphicon-chevron-right"></span>Afsluttede aktiviteter<span class="hoverInfo"><img src='../Content/Images/InfoIconV2.svg' class="info-icon" /><span class="hoverInfoText">Aktiviteter du har udført.</span></span></h4>
    <div class="scrollTable2">
        <table class="table tasksTable table-striped hiddenTaskTable">
            <thead>
                <tr class="trStyleClass">
                    <th width="112px"></th>
                    <th width="330px"><span data-locale data-apply="text" data-key="Title"></span></th>
                    <th width="330px"><span data-locale data-apply="text" data-key="Responsible"></span></th>
                    <th width=""><span data-locale data-apply="text">Dato</span></th>
                </tr>
            </thead>
            <tbody class="done-tasks"></tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        var table = $('.hiddenTaskTable');
        table.hide();
    });

    $(document).on('click', '.fold-down-headline', function () {
        var table = $(this).next('.scrollTable2').find('table');
        var icon = $(this).find('.glyphicon');
        if (table.is(':visible')) {
            table.hide();
            icon.removeClass('glyphicon-chevron-down');
            icon.addClass('glyphicon-chevron-right');
        } else {
            table.show();
            icon.removeClass('glyphicon-chevron-right');
            icon.addClass('glyphicon-chevron-down');
        }
    });
</script>