
<link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" />
<link rel="stylesheet" href="../../Scripts/plugins/Albe_Timeline/style-albe-timeline.css" />
<script src="../../Scripts/plugins/Albe_Timeline/jquery-albe-timeline.js"></script>
<script src="../../Scripts/plugins/Albe_Timeline/data-albe-timeline.js"></script>
<script src="../../Scripts/timeline.js" ></script>



<div class="timeline">

    <!--timeline-->
    <div id="myTimeline" class="timeline-container">
    </div>


</div>

