
<link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css" />
<link rel="stylesheet" href="../../Scripts/plugins/Albe_Timeline/style-albe-timeline.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../../Scripts/plugins/Albe_Timeline/jquery-albe-timeline.js"></script>
<script src="../../Scripts/plugins/Albe_Timeline/data-albe-timeline.js"></script>
<script src="../../Scripts/timeline.js" ></script>



<div class="timeline">

    <!--timeline-->
    <div id="filterHeadline"><span data-locale data-apply="text" data-key="Filter"></span></div>
    <div class="filterTypeWrapper">
        <label>
            <input type="checkbox" id="activityCheckbox" value="activity">
            <span class="customizedCheckbox" id="activitySpan"></span>
            <span data-locale data-apply="text" data-key="Activity"></span>
        </label>
        <label>
            <input type="checkbox" id="journalnoteCheckbox" value="journalnote">
            <span  class="customizedCheckbox" id="journalnoteSpan"></span>
            <span data-locale data-apply="text" data-key="Journal note"></span>
        </label>
        <label>
            <input type="checkbox" id="documentCheckbox" value="document">
            <span  class="customizedCheckbox" id="documentSpan"></span>
            <span data-locale data-apply="text" data-key="Document"></span>
        </label>
    </div>
    <div id="myTimeline" class="timeline-container"></div>
</div>

